<form action='/index.php?page=galeriebilder' method='post'>
    <div class='text-xl' style='width: 220px; height: 300px; padding: 10px; margin: 10px; border-radius: 20px; background-color: #8b5cf6; border: 1px solid black'>
        <button name='folder' value='neu'>
            <img src='/img/galerie/add_box.png' style='height: 200px; width: 100%; object-fit: cover; object-position: top center; border-radius: 10px;'></img>
        </button>
        <br>
        <p><input name='categoryname' value='Neue Kategorie' size='12'></p>
    </div>
</form>
