<form action='/index.php?page=adminGallery' method='post'>
	<div class='text-xl hover:scale-110' style='width: 220px; height: 300px; padding: 10px; margin: 10px; border-radius: 20px; background-color: #8b5cf6; border: 1px solid black'>
		<button><img src='/img/gallery/settings_box.png' style='height: 200px; width: 100%; object-fit: cover; object-position: top center; border-radius: 10px;'></img><br>
			<p>Galerie Einstellungen</p>
		</button>
	</div>
</form>