{% if isAdmin %}




{% if {{ newCategoryTitle }}|preg_match('/^[a-z0-9äöü]+$/i') %}
   
            <p>Fehler! Bitte keine Sonderzeichen benutzen.</p>
            <p><a href='/index.php?page=galerie'>Zurück</a></p>
            {% die %}
{% endif %}

{% endif %}
