<form action='/index.php?page=pictures' method='post'>

    {% for gallerycategory in gallerycategories %}
        <button name='gallerycategoryId' value='{{ gallerycategory.id }}'>
        <div class='text-xl' style='width: 220px; height: 300px; padding: 10px; margin: 10px; border-radius: 20px; background-color: #8b5cf6; border: 1px solid black'>
        <img src='/img/gallery/{{ gallerycategory.categoryName }}/{{ gallerycategory.titlePic }}' style='height: 200px; width: 100%; object-fit: cover; object-position: top center; border-radius: 10px;'></img><br>
        {{ gallerycategory.categoryName }}</div></button>
    {% endfor %}        
    
</form>

