
/*@import url('/fonts/VarelaRound-Regular.ttf'); */

@font-face{
    font-family: 'Varela Round';
    src:url('/fonts/VarelaRound-Regular.ttf');
}

body {
    font-family: 'Varela Round', sans-serif;
}

.classButton {
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    border: 1px solid black;
}

.classButton:hover {
background-color: #ede9fe;
padding: 2px;
}

.classTable table {
    border: 1px solid black;
    padding: 0.5em;
}

.classTable td {
    border: 1px solid black;
    padding: 0.5em; 
    text-align: center;    
}

#idshowNewMemberForm{
    transform: translate(-3000px, 0);
    transition: transform 2s;
}

#idNewCandidateForm{
    transform: translate(-3000px, 0);
    transition: transform 2s;
}
