<div>
    <h1 class='text-3xl text-gray-700'>Herzlich Willkommen!<br/>ようこそ</h1>"
    <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
        Bist du ein Fan von Japan? Bist du ein Game-Nerd? Magst du Animes oder liest Mangas? Möchtest du dich gerne mit anderen über alles Mögliche austauschen?<br><br>
        Dann bist du hier genau richtig! ヽ(*⌒∇⌒*)ﾉ<br><br>
        Gibt's was zu futtern?<br><br>
        Natürlich, nur keine Panik (=^-ω-^=)<br><br>
        Wir bieten euch im RL neben verschiedensten Getränken eine gute Auswahl an warmen Speisen. Ach ja: Die Preise sind wirklich tief, damit jeder etwas Feines bekommt (*´꒳`*)<br><br>
        Hier findet ihr noch mehr Manga-, Anime-, Game- und Japaninteressierte, meldet euch an und tauscht euch mit der Community aus!
    </p>
</div>