<div class="p-3 lg:p-8 text-left text-white text-lg lg:text-2xl" style="  text-shadow: 2px 2px #330000;">
<h1>Herzlich Willkommen in Real Life Café</h1>
<p>
Bist du ein Fan von Japan? Bist du ein Game-Nerd?<br>
Magst Animes oder liest Mangas?<br>
Möchtest dich gerne mit anderen über alles Mögliche austauschen?<br>
Dann bist du hier genau richtig!<br>
ヽ(*⌒∇⌒*)ﾉ
</p>
</div>