<div class='flex justify-center items-center'>
    <div>
        <img src="/img/join.png" class='m-auto w-80' title='IG-Address'></img>
        <section class="text-black body-font">
          <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
              <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Das RL-Team sucht dich!</h1>
              <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Wir freuen uns auf jede Unterstützung im RL. Als Helfer darfst du ein bis zwei Mal pro Monat am Abend in einer von zwei Schichten helfen.
                Ob du nun Bestellungen aufnimmst, Getränke ausgibst, Geld kassierst oder dich lieber um das Vor- und Zubereiten des Essens kümmerst, kannst du jeweils mit dem anderen Helfer zu Beginn deiner Schicht klären.
                Als Mitglied im Staff hast du auch Zugang zu internen Diskussionen und zur Planung von Events etc. Gelegentlich findet eine Sitzung statt, in der du über die wichtigsten Themen mitreden und mitbestimmen kannst.
              </p>
            </div>

            <div class="flex flex-wrap">
              <div class="xl:w-1/3 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-black border-opacity-60">
                <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Was bieten wir?</h2>
                <p class="leading-relaxed text-base mb-4">
                    Es winkt eine interessante, sinnvolle Beschäftigung, bei der euch sicher nicht langweilig wird und ihr viele neue Leute kennenlernt. Ihr dürft eure Ideen fürs RL einbringen und zu einem gewissen Grad mitentscheiden. Ein ordentliches Trinkgeld sowie ein Essen und Trinken gratis pro Abend versüssen den RL-Schicht-Abend. Ein hilfsbereites Team unterstützt euch und steht mit Rat und Tat zur Seite.
                </p>
              </div>

              <div class="xl:w-1/3 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-black border-opacity-60">
                <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Was erwarten wir?</h2>
                <p class="leading-relaxed text-base mb-4">
                    Zuverlässigkeit! Ausserdem ein gewisses Mass an Freundlichkeit und die Fähigkeit, in Stresssituationen nicht komplett durchzudrehen. Es sind keine Gastronomie-Vorkenntnisse nötig.
                </p>
              </div>

              <div class="xl:w-1/3 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-black border-opacity-60">
                <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Wie läuft das so?</h2>
                <p class="leading-relaxed text-base mb-4">
                    Du solltest mindestens ein mal pro Monat eine Schicht übernehmen können. Die Schichten sind aufgeteilt in früh (17.50h - 20.35h) und spät (20.30h - 23h). Du kannst entweder an der Kasse arbeiten oder dich um die Essenszubereitung kümmern.
                </p>
              </div>
            </div>

            <p class="text-center mx-auto leading-relaxed text-base">
                Bist du interessiert? Dann melde dich bei uns!
            </p>
            <button onclick="openNewCandidateForm()" class="flex mx-auto mt-16 text-black bg-zinc-50 border-0 py-2 px-8 focus:outline-none hover:bg-amber-400 rounded text-lg">Anmeldeformular</button>
          </div>
        </section>
    </div>
</div>
{# {% include 'member/becomeMemberForm.twig' %} #}