{# <div class='flex justify-center'> #}
<div id="idNewCandidateForm" class="absolute top-96 z-30 w-420 h-500 bg-[#FA5A5A] text-left p-4 border-4 border-solid border-black rounded-lg">
        <button onclick="closeNewCandidateForm()"><img src='/img/icons/close.png' class="top-0 left-0 w-50 h-50 float-left cursor-pointer"></button>
        <br>
        <form action='/index.php?page=becomeMember' method='post'>
        <h1 class='text-3xl font-bold text-center'>Anmeldung als Helfer/in</h1>
        <br>
        <p>
        <div class="form-floating mb-3 xl:w-80">
            <input name='candidateName' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
            placeholder="Name"
            id="inputCandidateName"
            required="required">
            <label for="inputCandidateName" class="text-gray-700">Name</label>
        </div><br>

        <div class="form-floating mb-3 xl:w-80">
            <input type='email' name='candidateE_mail' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
            placeholder="E-Mail"
            required="required"
            id="inputCandidateE_mail">
            <label for="inputCandidateE_mail" class="text-gray-700">E-Mail</label>
        </div><br>

        <div class="form-floating mb-3 xl:w-80">
            <input type='tel' name='candidateMobile' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
            placeholder="Mobile Nummer (optional)"
            id="inputCandidateMobile">
            <label for="inputCandidateMobile" class="text-gray-700">Mobile Nummer (optional)</label>
        </div><br>

        <b><u>Little Akiba:</u></b><br>
        <div class="form-floating mb-3 xl:w-80">
            <input type='url' name='candidateLittle_akiba' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
            placeholder="Profil-URL"
            required="required"
            id="inputCandidateUrl">
            <label for="inputCandidateUrl" class="text-gray-700">Profil-URL</label>
        </div><br>

        <div class="form-floating mb-3 xl:w-80">
            <input type='url' name='avatarLittle_akiba' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-black focus:outline-none"
            placeholder="Avatar-URL"
            required="required"
            id="inputCandidateUrl">
            <label for="inputCandidateUrl" class="text-gray-700">Avatar-URL</label>
        </div><br>
        
        <p class='text-center'><button name='newCandidate' class='hover:opacity-40'><img src='img/icons/sendMail.png' class='w-10 h-10 inline' title='Anmelden'></button></p>
        </form>
</div>
{# </div> #}