
{% if isAdmin %}
    <p><button onclick="openNewMemberForm()" class="flex mx-auto mt-16 text-black bg-zinc-50 border-0 py-2 px-8 focus:outline-none hover:bg-amber-400 rounded text-lg">Neues Mitglied</button></p>
{% endif %}


