<br>
<p class="text-2xl">
    Wir sind ständig auf der Suche nach neuen Helfern!<br>
    Hast du Interesse im RL zusammen mit netten Leuten zu arbeiten?<br>
    Wir freuen uns auf dich!<br><br>

    Für eine Kontaktaufnahme, einfach <a href='/index.php?page=becomeMember'><b>hier</b></a> klicken.
</p>
<br><br>
<center><a href="https://www.littleakiba.ch"><img src="https://www.littleakiba.ch/assets/files/2019-11-10/1573418425-760679-littleakiba-banner.png"></img></a></center>
<br>