AuthUserFile "/usr/www/users/reallih/.htpasswd"
AuthName "Realm"
AuthType Basic
require valid-user

Options -Indexes


<Files about.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files admin.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files adminEvent.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files adminGallery.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files adminSpecialEvents.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files becomeMember.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files gallery.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files home.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files logoutconfirm.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files memberlist.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files pictures.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files rules.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files shifttable.php>
    Order Deny,Allow
    Deny from all
</Files>
