AuthUserFile "/usr/www/users/reallih/.htpasswd"
AuthName "Realm"
AuthType Basic
require valid-user

Options -Indexes


<Files galerie.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files galeriebilder.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files helferwerden.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files home.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files regeln.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files ueberuns.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files wersindwir.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files admin.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files adminGallery.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files member.php>
    Order Deny,Allow
    Deny from all
</Files>