.idea
public_html/node_modules/*
public_html/vendor/*
public_html/config/config.php
public_html/img/gallery/*/*.jpg
public_html/img/gallery/*/*.jpeg
public_html/img/gallery/*/*.png
public_html/img/gallery/*/*.gif
public_html/img/specialevents/*.*