<div class='absolute z-50 left-0 right-0'>
    <div class='flex justify-center'>
    <div class='p-2'><img src='img/media/fb.png' class='w-12'></div>
    <div class='p-2'><img src='img/media/ig.png' class='w-12'></div>
    <div class='p-2'><img src='img/media/twitter.png' class='w-12'></div>
    </div>
    Diese Seite wurde programmiert von <a href='http://www.karingiang.ch' target='_blank' class='underline'>Zody</a>.
</div>
