<div id='footerId' class='absolute z-50 left-0 right-0'>
    <div class='flex justify-center'>
    <a href='https://www.facebook.com/reallifecafe' target='_blank' class='p-2'><img src='img/media/fb.png' class='w-12 hover:scale-125'></a>
    <a href='https://www.instagram.com/reallifecafe_ch/' target='_blank'iv class='p-2'><img src='img/media/ig.png' class='w-12 hover:scale-125'></a>
    <a href='https://twitter.com/reallifecafe_ch' target='_blank' class='p-2'><img src='img/media/twitter.png' class='w-12 hover:scale-125'></a>
    </div>
    Diese Seite wurde programmiert von <a href='http://www.karingiang.ch' target='_blank' class='underline'>Zody</a>.
</div>
