
<div id="naviBar" class="block lg:fixed z-50 w-full bg-violet-200 borderborder-2 border-gray-300 shadow-xl flex justify-between px-4">
    <a href="/" class="absolute w-48 -mt-10">
        <img src="/img/logo.png" class="p-1.5 m-auto sm:m-2.5">
    </a>

    <ul class="ml-0 lg:ml-52 block lg:inline-flex gap-4 pt-24 lg:pt-3">
        <li><a href="/index.php?page=gallery" class="rounded p-2 transition ease-in-out duration-300 hover:bg-violet-300">Galerie</a></li>
        <li><a href="/index.php?page=memberlist" class="rounded p-2 transition ease-in-out duration-300 hover:bg-violet-300">Wer sind wir?</a></li>
        <li><a href="/index.php?page=becomeMember" class="rounded p-2 transition ease-in-out duration-300 hover:bg-violet-300">Helfer werden</a></li>
        <li><a href="/index.php?page=rules" class="rounded p-2 transition ease-in-out duration-300 hover:bg-violet-300">Regeln</a></li>
        <li><a href="/index.php?page=about" class="rounded p-2 transition ease-in-out duration-300 hover:bg-violet-300">Über uns</a></li>
    </ul>
    <div class="flex justify-end items-center">
        <form action='/index.php?page=shifttable' method='post'>
            <button class="p-1 mr-2 sm:mt-2 sm: mb-2 sm:mr-5 border border-solid border-black hover:bg-violet-300">Einloggen</button>
        </form>
        <todo>
        if(isset($_SESSION['username'])){
        $member = findOneByColumn(Member::class, 0, "membername", $_SESSION['username']);
        echo $twig->render('global/userLoggedIn.twig', ['member' => $member]);
        } else {
        echo $twig->render('global/loginButton.twig');
        }
        </todo>
    </div>
</div>

<div class="pt-4 lg:pt-12 text-center block">
    <div class="hidden lg:block m-5 mt-8">
        <a class="text-5xl font-bold bg-transparent" href="/">Real Life Café {{ additionalTitle }}</a>
        <h1 class="text-3xl text-gray-700">Herzlich Willkommen!<br/>ようこそ</h1>
    </div>
</div>
