<form action='/login.php' method='post'>
    <h1><b><u>Mitarbeiter Login</u></b></h1>
    
    <p>Benutzername: <input name="username" class="border border-solid border-black">
    
    Kennwort: <input type='password' name='pwd' class="border border-solid border-black">
    
    <b><button type='submit' class='classButton'>Anmelden</button></b></p>
</form>

