<form action='/index.php?page=userArea' method='post'>
    <h1><b><u>Mitarbeiter Login</u></b></h1>
    
    <p>Benutzername: <input name="username" class="border border-solid border-black">
    
    Kennwort: <input type='password' name='pwd' class="border border-solid border-black">
    
    <b><input type='submit' value='Anmelden' class='classButton'></b></p>
</form>

