<div class="flex justify-end items-center">
    <form action='/login.php' method='post'>
        <button class="p-1 mr-2 sm:mt-2 sm: mb-2 sm:mr-5 border border-solid border-black rounded-xl hover:bg-amber-400">Einloggen</button>
    </form>
</div>