<div class="flex justify-end items-center">
    <form action='/index.php?page=userArea' method='post'>
        <button class="p-1 mr-2 sm:mt-2 sm: mb-2 sm:mr-5 border border-solid border-black rounded-xl hover:bg-amber-400 flex items-center"><img src='{{ member.memberimg }}' class='rounded-full w-8 h-8'><span class='hidden lg:inline m-1'>{{ member.membername }}</span></button>
    </form>
</div>