
    <form action="/index.php?page=adminSpecialEvents" method="post" enctype="multipart/form-data">
        <p class='font-bold'>Neuer Spezial Abend erstellen:</p>
            {% set now = 'now'|date('Y-m-d') %}
        <table align='center'>
            <tr>
                <td>Titel:</td>
                <td><input name='specialeventtitle'></td>
            </tr>

            <tr>
                <td>Datum:</td>
                <td><input type='date' name='specialeventdate' value='{{ now }}'></td>
            </tr>

            <tr>
                <td>Publik. Datum:</td>
                <td><input type='date' name='publicdate' value='{{ now }}'></td>
            </tr>

            <tr>
                <td>Flyer:</td>
                <td><input type='file' name='flyer' id='flyerButton' class='hidden'>
                <label for='flyerButton' class='classButton'>Hochladen</label></td>
            </tr>
            <tr>
                <td>Text:</td>
                <td><input name='descripttext'></td>
            </tr>
        </table>
        <p>
            <button name='createSpecialEvent' class='classButton'>erstellen</button>
        </p>
       
    </form>


