
    <form action="/index.php?page=adminSpecialEvents" method="post" enctype="multipart/form-data">
        <p class='font-bold'>Neuer Spezial Abend erstellen:</p>
        <table align='center'>
            <tr>
                <td>Titel:</td>
                <td><input name='specialeventtitle'></td>
            </tr>

            <tr>
                <td>Datum:</td>
                {{ selectDate.0 | raw }}
            </tr>

            <tr>
                <td>Publik. Datum:</td>
                {{ selectDate.1 | raw }}
            </tr>

            <tr>
                <td>Flyer:</td>
                <td><input type='file' name='flyer'></td>
            </tr>
            <tr>
                <td>Text:</td>
                <td><input name='descripttext'></td>
            </tr>
        </table>
        <p>
            <button name='createSpecialEvent' class='classButton'>erstellen</button>
        </p>
    </form>



