{% set userFunctions = ['1', 'event.leader2', 'event.helper1', 'event.helper2', 'event.helper3', 'event.helper4']%}
{% for userFunction in userFunctions %}

    {% if userFunction == 0 %}
        <td>&nbsp</td>
    {% else %}
    {{ userFunction | json_encode(constant('JSON_PRETTY_PRINT')) }}
        {% for member in members %}
            {% if userFunction == member.id %}
                <td><center><img src='{{member.memberimg}}' style='border-radius: 100%; width: 50px'></img>{{member.membername}}</center></td>
            {% endif %}
        {% endfor%}
    {% endif %}
{% endfor %}