<form action='/index.php?page=admin' method='post'>
    <button class='p-2 m-2 text-center border border-solid border-black rounded-xl hover:bg-violet-300'><center><img src='img/icons/adminSettings.png' class='w-24'><span class='font-bold'>Adminbereich</span></center></button>
</form>