{% for event in events %}
    <div class="w-96 block p-5 m-auto mt-5 rounded-xl border border-solid border-black bg-red-400" id='special'>
    <h1 class='text-3xl font-bold text-center italic'>Spezial Abend:</h1><br>

    {% if event.flyer == NULL %}
        <h1 class='text-3xl font-bold text-center'> {{ event.specialeventtitle }}</h1>
        <h1 class='text-3xl font-bold text-center'> {{ event.specialeventdate | date_format("d. F Y") }}</h1><br>
        <p class='text.left'>{{ event.descripttext }}</p>
    {%  else %}
        <p><img src='img/specialevents/{{ event.flyer }}' width='310'></p>
    {%  endif %}
    </div>
{% endfor %}