
<h1>Herzlich Willkommen in Real Life Café</h1>
<p>Bist du ein Fan von Japan? Bist du ein Game-Nerd? Magst Animes oder liest Mangas? Möchtest dich gerne mit anderen über alles Mögliche austauschen?
Dann bist du hier genau richtig! ヽ(*⌒∇⌒*)ﾉ</p>