
<h1>Herzlich Willkommen in Real Life Café</h1>
<p>
Bist du ein Fan von Japan? Bist du ein Game-Nerd?<br>
Magst Animes oder liest Mangas?<br>
Möchtest dich gerne mit anderen über alles Mögliche austauschen?<br>
Dann bist du hier genau richtig!<br>
ヽ(*⌒∇⌒*)ﾉ
</p>