<form action='/index.php?page=adminEvents' method='post'>
    <button class='p-2 m-2 text-center border border-solid border-black rounded-xl bg-zinc-50 hover:bg-amber-400'><center><img src='img/icons/timetable.png' class='w-24'><span class='font-bold'>Schichtplan</span></center></button>
</form>