<form action='/index.php?page=gallery' method='post'>
    <button class='p-2 m-2 text-center border border-solid border-black rounded-xl hover:bg-violet-100'><center><img src='img/icons/gallery.png' class='w-24'><span class='font-bold'>Galerie</span></center></button>
</form>