<form action='/logout.php' method='post'>
<button class='p-2 m-2 text-center border border-solid border-black rounded-xl bg-zinc-50 hover:bg-amber-400'><center><img src='img/icons/logout.png' class='w-24'><span class='font-bold'>Abmelden</span></center></button>
</form>