<form action='/index.php?page=memberlist' method='post'>
    <button class='p-2 m-2 text-center border border-solid border-black rounded-xl hover:bg-violet-100'><center><img src='img/icons/members.png' class='w-24'><span class='font-bold'>Mitglieder</span></center></button>
</form>