<button onclick="openUserPassword()" class='p-2 m-2 text-center border border-solid border-black rounded-xl bg-zinc-50 hover:bg-amber-400'><img src='img/icons/password.png' class='w-24'><span class='font-bold'>Password</span></button>

