<button onclick="openUserPassword()" class='p-2 m-2 text-center border border-solid border-black rounded-xl hover:bg-violet-100'><img src='img/icons/password.png' class='w-24'><span class='font-bold'>Password</span></button>

