<div id='memberlogin'>
    <form action='/index.php?page=member' method='post'>
        <h1><b><u>Mitarbeiter Login</u></b></h1>
        <h2>Bitte Kennwort eingeben:</h2>
        <p><input type='password' name='memberpassword'></p>
        <p><b><input type='submit' value='Anmelden' class='classButton'></b></p>
    </form>
</div>