<div class='text-left'>
    <h2 class='text-3xl font-bold underline text-center'>Über uns</h2>
    <br>
        <p class='text-center font-bold'><u>Adresse:</u><br>
        Bitwäscherei<br>
        Neue Hard 12<br>
        8005 Zürich</p>
</div>


