<div class='text-left'>
    <h2 class='text-3xl font-bold underline text-center'>Über uns</h2>
    <br>
        <p class='text-center'>Adresse:<br>
        Name:<br>
        Strasse:<br>
        PLZ/Ort:<br>
        Tel. Nr.:</p>
</div>


