<div class="head">
    <a href="/" class="headleft">
        <img src="/img/logo.png" width="350"></img>
    </a>

    <div class="headright mt-8">
        <a class="text-5xl font-bold bg-transparent" href="/">Real Life Café (Demo)</a>
        <h1 class="text-3xl text-gray-700">Herzlich Willkommen!<br/>ようこそ</h1>
    </div>

    <div class="text-2xl" id="navigation">
        <p><a href="/index.php">Home</a></p>
        <p><a href="/index.php?page=galerie">Galerie</a></p>
        <p><a href="/index.php?page=wersindwir">Wer sind wir?</a></p>
        <p><a href="/index.php?page=helferwerden">Helfer werden</a></p>
        <p><a href="/index.php?page=regeln">Regeln</a></p>
        <p><a href="/index.php?page=ueberuns">Über uns</a></p>
    </div>
</div>