{% for member in members %}
    {% if username == member.membername and pwd == member.pwd %}
 
            <p>Login erfolgreich</p>
    {% else %}
            <p>Login fehlgeschlagen</p>

    {% endif %}
{% endfor %}
