<div class='text-left'>
    <h1 class='text-3xl font-bold text-center'>Über uns</h1>
    <br>
        <p class='text-center font-bold'><u>Adresse:</u><br>
        Bitwäscherei<br>
        Neue Hard 12<br>
        8005 Zürich</p>
</div>