<section class="text-black body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Impressum</h1>
        </div>
        <div class="Post-body">
            Name und Anschrift<br>
            Verein Real-Life-Cafe<br>
            Präsident Francesco Rotta<br>
            Bullingerstrasse 60<br>
            8004 Zürich<br><br>

            E-Mail-Adresse<br>
            info@reallifecafe.ch
      </div>
</section>