<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Unser Verein</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
            <img src='img/logo.png' class='w-60 m-5 float-right'>
                Ein Ort, um unter Freunden über Anime oder Manga zu quatschen, zu zocken und einen schönen Abend zu haben, öffnet seine Tore.<br><br>
                Jeweils Freitags finden die Real-Life-Treffen mit Speis und Trank in Zürich statt.<br>
                Meist sind wir im 3. OG bei der Bitwäscherei. Es gibt einen möblierten gemütlichen Raum, wo du auch einen Einblick der dortigen Vereine haben kannst. Gerne bieten wir dir auch Getränke sowie etwas zu Essen an.
            </p><br><br>

            <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Die Entstehung</h2>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
                Das RL ist ursprünglich das Café der Mangaforum-Community, heute Little Akiba.<br>
                Als wir Forumianer uns 2005 begannen regelmässig in Cafés zu treffen, war nach wenigen Monaten die Geduld der hiesigen Cafés erschöpft. Um uns weiter im grossen Rahmen treffen zu können, musste eine neue Lösung her und wir suchten was Eigenes.<br>
                Im Januar 2007 fanden wir unser Zuhause im Felix & St. Regula Café und das für 12 Jahre!<br>
                Als die Kirche die Räumlichkeiten dann selber brauchte, machten wir uns erneut auf die Suche und fanden die Bitwäscherei. 
            </p><br><br>

            <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Unser Ziel</h2>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
                Seit Dezember 2021, auf Grund unseres Location Wechsel und den Herausforderungen durch die Pandemie, war es an der Zeit den losen Verbund von Helfern und Leitern zu festigen. <br>
                Ziel des Vereins ist, dass fortbestehen des Real Life Cafés abzusichern und weiterhin den Treffpunkt zu ermöglichen, an welchem sich die Community vom Little Akiba, vormals Mangaforum, in einem offenen und sicheren Rahmen treffen und austauschen kann.
            </p>

        </div>
    </div>
</section>