<section class="text-black body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Unser Verein</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
            <img src='img/logo.png' class='w-60 ml-auto mr-auto lg:m-5 lg:float-right'>
                Ein Ort, um unter Freunden über Anime oder Manga zu quatschen, zu zocken und einen schönen Abend zu haben, öffnet seine Tore.<br><br>
                Jeweils Freitags finden die Real-Life-Treffen mit Speis und Trank in Zürich statt.<br>
                Meist sind wir im 3. OG bei der Bitwäscherei. Wir treffen uns in einem gemütlichen, grossen Raum, in dem du auch Einblick in die anderen dort stationierten Vereine haben kannst. Gerne bieten wir dir auch Getränke sowie etwas zu Essen an.
            </p><br><br>

            <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Die Entstehung</h2>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
                Das RL ist ursprünglich das Café der Mangaforum-Community, heute Little Akiba.<br>
                Im Januar 2007 fanden wir unser Zuhause im Felix & St. Regula Café und das für 12 Jahre!<br>
                Als die Kirche die Räumlichkeiten wieder vermehrt selbst benötigte und sie uns somit nicht weiter vermieten konnte, machten wir uns erneut auf die Suche und fanden die Bitwäscherei. 
            </p><br><br>

            <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Unser Ziel</h2>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-justify">
                Im Dezember 2021 war es augrund des Locationwechsels und der Herausforderungen durch die Pandemie an der Zeit, den losen Verbund von Helfern und Leitern zu festigen.<br>
                Ziel des Vereins ist es, das Fortbestehen des real life Cafés zu sichern und weiterhin einen Treffpunkt zu ermöglichen, an dem sich die Little Akiba Community in einem offenen und sicheren Rahmen treffen und austauschen kann.
            </p>

        </div>
    </div>
</section>