<div class='text-left'>
    <h2 class='text-3xl font-bold underline text-center'>Regeln</h2>
    <br>
        <p>Damit das RL existieren kann, setzen sich viele Freiwillige für das Wohl aller Gäste ein. Die Besucher sind grundsätzlich zu einem respektvollen Umgang aufgefordert. Leider mussten wir aus der Erfahrung heraus einige Regeln für das RL einführen:</p>
        <br>
        <ul class='list-inside list-disc'>
            <li>Wir bieten euch Verpflegung zu sehr günstigen Preisen. Bitte unterstützt uns durch den Kauf und vermeidet Fremdkonsum.</li>
            <li>Mitbringen, Verkauf, Verteilen und Konsumieren von illegalen Sucht- und Rauschmittel ist in und um das Real Life-Gelände verboten!</li>
        </ul>
</div>


