<section class="text-black body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Regeln</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
              Damit das RL existieren kann, setzen sich viele Freiwillige für das Wohl aller Gäste ein. Die Besucher sind grundsätzlich zu einem respektvollen Umgang aufgefordert. Leider mussten wir aus der Erfahrung heraus einige Regeln für das RL einführen:
            </p>
        </div>
        <div class="flex flex-wrap">
            <div class="xl:w-1/2 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-black border-opacity-60">
                <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Bitte unterstützt uns</h2>
                <p class="leading-relaxed text-base mb-4">
                    Wir bieten euch Verpflegung zu sehr günstigen Preisen. Bitte unterstützt uns durch den Kauf und vermeidet Fremdkonsum.
                </p>
            </div>
            <div class="xl:w-1/2 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-black border-opacity-60">
                <h2 class="text-lg sm:text-xl text-black font-medium title-font mb-2">Kein Sucht- und Rauschmitteln</h2>
                <p class="leading-relaxed text-base mb-4">
                    Mitbringen, Verkauf, Verteilen und Konsumieren von illegalen Sucht- und Rauschmittel ist in und um das Real Life-Gelände verboten!
                </p>
            </div>
        </div>
    </div>
</section>