<div class='text-left px-5 py-24 mx-auto'>
	<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black text-center">Wo findest du uns?</h1>
    <br>
    <p>Du findest uns an der Zentralwäscherei, unmittelbarer Nähe vom Bahnhof Hardbrücke (ca. 5 Min Zugfahrt von Zürich HB entfernt)
    und die Tramhaltestelle “Schiffbau” (Tram <span class='inline-block w-6 h-6 text-center align-middel bg-purple-600 text-white'>4</span> und Tram <span class='inline-block w-6 h-6 text-center align-middel bg-lime-600 text-black'>8</span>).</p>
    <br>

    <div class='flex justify-center'><img src='img/zwz.jpg' class='w-[60%]'></div>

    <div class="mt-5 relative h-[600px]">
		<div class='absolute right-10 z-30 right font-bold block p-5 m-auto mt-5 rounded-xl border border-solid border-black bg-zinc-50/30 backdrop-blur'>
			<u>Adresse:</u><br>
			Bitwäscherei<br>
			Neue Hard 12<br>
			8005 Zürich
		</div>

		<a href="https://maps.app.goo.gl/2fngMmsN81YxiSEX6" target="_blank" class="absolute z-20 w-full">
			<img src="/img/location-rl.png" alt="hier findest du uns" />
		</a>
	</div>
</div>