<img src='{{ member.memberimg }}' class='w-48 h-48 rounded-full border border-solid border-black'></img>

<h1 class='text-3xl font-bold text-center'>{{ member.membername }}
    {% if member.memberfunction == "Admin" %}
        <h2 class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-middle font-bold text-white rounded bg-purple-600">
    {% elseif member.memberfunction == "Leiter" %}
        <h2 class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-middle font-bold text-white rounded bg-green-500">
    {% elseif member.memberfunction == "Helfer" %}
        <h2 class="text-sm inline-block py-1.5 px-2.5 leading-none text-center whitespace-nowrap align-middle font-bold text-white rounded bg-blue-400">
    {% endif %}
{{ member.memberfunction }}
</h2></h1>



