
<div class='flex flex-wrap justify-center sm:justify-between items-center'>
    <div>
        {% include 'user/userTitle.twig' %}
    </div>
    <div class='flex flex-wrap justify-center'>
        {% if member.memberfunction == "Admin" %}
            {% include 'admin/toAdmin.twig' %}
        {% endif %}
        {% include 'admin/adminEventsbutton.twig' %}

        {% include 'user/userButtons.twig' %}
        {% include 'global/logout.twig' %}
    </div>
    <div>
        {% include 'user/userAvailable.twig' %}
    </div>
</div>



