<div class='flex justify-center items-center'>
    <div id="idUserContactInfo" class="absolute top-48 w-420 h-500 bg-violet-300 text-left p-4 border-4 border-solid border-violet-500 rounded-lg shadow">
    <button onclick="closeUserContactInfo()"><img src='/img/icons/close.png' class="top-0 left-0 w-50 h-50 float-left cursor-pointer"></button>
    
        <form action='/index.php?page=userArea' method='post'>
        <h1 class='text-3xl font-bold text-center'>Kontaktinfos</h1>
        <br>
        <p>
        <div class="form-floating mb-3 xl:w-80">
            <input type="email" name='userModifyE_mail' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
            placeholder="E-Mail"
            required="required"
            value={{ member.e_mail }}
            id="inputUserModifyEmail">
            <label for="inputUserModifyEmail" class="text-gray-700">E-Mail</label>
        </div><br>
        
        <div class="form-floating mb-3 xl:w-80">
            <input name='userModifyMobile' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
            placeholder="Handy Nr."
            value={{ member.mobile }}
            id="inputUserModifyMobile">
            <label for="inputUserModifyMobile" class="text-gray-700">Handy Nr.</label>
        </div><br>
        <p><center><button name='userModify' value=1><img src='img/icons/done.png' class='w-10 h-10 inline hover:opacity-40' title='Ok'></a></center></p>
        </form>
    </div>
</div>