<div class='flex justify-center items-center'>
    <div id="idUserPassword" class="absolute top-48 w-420 h-500 bg-violet-300 text-left p-4 border-4 border-solid border-violet-500 rounded-lg shadow">
    <button onclick="closeUserPassword()"><img src='/img/icons/close.png' class="top-0 left-0 w-50 h-50 float-left cursor-pointer"></button>
        <br>
        <form name='inputModifyPassword' action='/index.php?page=userArea' method='post'>
        <h1 class='text-3xl font-bold text-center'>Passwort ändern</h1>
        <br>
        <p>
        
        <div class="form-floating mb-3 xl:w-80">
            <input type="password" name='memberNewPwd' size='20' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
            placeholder="Passwort"
            required="required"
            id="inputMemberNewPwd">
            <label for="inputMemberNewPwd" class="text-gray-700">Neues Passwort</label>
        </div><br>
        <div class="form-floating mb-3 xl:w-80">
            <input type="password" name='memberNewPwdRepeat' size='20' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
            placeholder="Passwort wiederholen"
            required="required"
            id="inputMemberNewPwdRepeat">
            <label for="inputMemberNewPwdRepeat" class="text-gray-700">Passwort wiederholen</label>
        </div><br>
        <div class="form-floating mb-3 xl:w-80">
            <input type="password" name='oldpwd' size='20' class="
            form-control
            block
            w-full
            px-3
            py-1.5
            text-base
            font-normal
            text-gray-700
            bg-white bg-clip-padding
            border border-solid border-gray-300
            rounded
            transition
            ease-in-out
            m-0
            focus:text-gray-700 focus:bg-white focus:border-violet-500 focus:outline-none"
            placeholder="Passwort"
            required="required"
            id="inputMemberPwd">
            <label for="inputMemberPwd" class="text-gray-700">Altes Passwort</label>
        </div><br>

        <input type='hidden' name='modifyPwd' value=1>
        <p><center><a href='javascript:checkFormMemberNewPwd()'><img src='img/icons/done.png' class='w-10 h-10 inline hover:opacity-40' title='Passwort ändern'></a></center></p>
        </form>
    
    </div>
</div>



